/* body */

body
{
  background-color: #536895;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
}

a:link,
a:visited
{
  /*color: #aaa;*/
  /*color: #B3C1DF*/
  /*color: #C4CFEF;*/
  color: #ADBAD5;
}

a:hover,
a.active,
li a.active
{
  /*color: #ccc;*/
  color: #C4CFEF;
}

h2
{
  color: #1A202E;
  font-size: 17px;
  font-weight: bold;
}

table
{
  width: 100%;
}

tr.even,
tr.odd
{
  background-color: #4F5E7A;
}

td
{
  padding: 5px 5px 5px 5px;
}

/* top-border */

.top-border-wrapper
{
  background-color: #000;
  height: 25px;
}

.top-border-wrapper .top-border
{
  width: 960px;
  margin: 0px auto;
}

#logo
{
  float: left;
  width: 283px;
  height: 23px;
  margin: 1px 0px 0px 0px;
  background: url('../images/ucla/ucla-logo.png') center top no-repeat transparent;

  text-indent: -999em;
  overflow: hidden;

}

/* header */

#header
{
  background: url('../images/ucla/powell.png') right bottom no-repeat transparent;
}

.not-front #header
{
  background-image: none;
}

/* Search block */

#block-islandora_solr_search-simple
{
  float: right;
  width: 500px;
  /*height: 60px;*/
}

#edit-islandora-simple-search-query-wrapper
{
  float: left;
  width: 390px;
  height: 30px;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

form#islandora-solr-simple-search-form input#edit-islandora-simple-search-query
{
  float: left;
  width: 386px;
  height: 24px;
  display: block;

  border: 1px solid #AAAAAA;

  font-size: 17px;
  padding: 2px 1px;
}

#block-islandora_solr_search-simple .form-submit
{
  float: left;
  width: 110px;
  height: 30px;
  display: block;
  margin-left: 0;

  font-family: Arial,Helvetica,sans-serif;
  border: 1px solid #AAAAAA;
  background-color: #FFB300;
  cursor: pointer;

  color: #1A202E;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

#block-islandora_solr_search-simple .form-submit:hover
{
  background-color: #FFDE5A;
}


/* Secondary menu items */

.region-header .block-menu,
.region-header .block-superfish
{
  float: left;
  width: 440px;
}

.region-header .block-menu ul.menu,
.region-header .block-superfish ul
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

.region-header .block-menu ul.menu li,
.region-header .block-superfish ul li
{
  float: left;
  display: block;
  margin: 0px 1px;
}

.region-header .block-menu ul.menu li a,
.region-header .block-superfish ul li a
{
  float: left;
  padding: 0 8px;
  display: block;

  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#B8C0D3));
  background-image: -webkit-linear-gradient(top, #eeeeee, #B8C0D3);
  background-image:    -moz-linear-gradient(top, #eeeeee, #B8C0D3);
  background-image:     -ms-linear-gradient(top, #eeeeee, #B8C0D3);
  background-image:      -o-linear-gradient(top, #eeeeee, #B8C0D3);
  background-image:         linear-gradient(top, #eeeeee, #B8C0D3);

  color: #000000;
  font-size: 13px;
  font-weight: bold;

  line-height: 28px;
  text-align: left;
  text-decoration: none;
}

.region-header .block-menu ul.menu li a:hover,
.region-header .block-superfish ul li a:hover
{
  color: #aaa;
}

.region-header .block-superfish ul ul a
{
  background-image: none;
}

.region-header .block-superfish ul ul a:hover
{
  background-image: none;
  background-color: #B8C0D3;
  color: #eee;

}




.blog-feed
{
  float: left;
  width: 168px;
  height: 128px;
  margin: 61px 0px 0px 0px;
}

.blog-feed-title
{
  float: left;
  width: 100px;
  height: 25px;
  background: url('../images/ucla/text_images.png') left -75px no-repeat transparent;

}

.from-our-blog
{
  float: left;
  width: 168px;
  height: 93px;
  margin: 5px 0px 0px 0px;
  background: url('../images/ucla/from-our-blog.png') center top no-repeat transparent;
}


.quick-jump
{
  float: right;
  width: 520px;
  height: 162px;
}

.view-digitallibraryprogram
{
  float: left;
  width: 260px; /* 270px */
  margin: 91px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
}

#views_slideshow_singleframe_playpause_digitallibraryprogram-block_1
{
  display: none;
}

.view-digitallibraryprogram .views_slideshow_singleframe_slide
{
  float: left;
  width: 270px;
}

.view-digitallibraryprogram .view-content
{
  height: 93px;
  position: relative;
}

#views_slideshow_singleframe_prev_digitallibraryprogram-block_1
{
  float: left;
  width: 25px;
  height: 26px;
  margin: 0px 5px 0px 0px;

  background: url('../images/ucla/control-buttons.png') 0px -28px no-repeat transparent;

  text-indent: -999em;
  overflow: hidden;
}

#views_slideshow_singleframe_prev_digitallibraryprogram-block_1:hover
{
  background-position: 0px 0px;
}

#views_slideshow_singleframe_next_digitallibraryprogram-block_1
{
  float: left;
  width: 25px;
  height: 26px;
  background: url('../images/ucla/control-buttons.png') -28px -28px no-repeat transparent;

  text-indent: -999em;
  overflow: hidden;
}

#views_slideshow_singleframe_next_digitallibraryprogram-block_1:hover
{
  background-position: -28px 0px;
}

.views-slideshow-controls-bottom
{
  float: left;
  /*margin: 10px 0px 0px 0px;*/
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.view-digitallibraryprogram .field-content
{
  float: left;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;

  line-height: 13px;

  color: #C4CFEF;
  font-size: 13px;
  font-style: italic;
}

.view-digitallibraryprogram .views-field-title a,
.view-digitallibraryprogram .views-field-title a:link,
.view-digitallibraryprogram .views-field-title a:visited
{
  float: left;
  width: 100%;
  margin: 0px 0px 0px 0px;

  color: #C4CFEF;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.view-digitallibraryprogram .views-field-title a:hover
{
  color: #fff;
  text-decoration: underline;
}

.view-digitallibraryprogram .views-field-author
{
  float: left;
  width: 100%;
}

.view-digitallibraryprogram .views-field-author label
{
  float: left;
  width: auto;
  margin: 0px 5px 0px 0px;
  color: #C4CFEF;
}

.view-digitallibraryprogram .views-field-author span
{
  float: left;
  width: auto;
  color: #C4CFEF;
}

.view-digitallibraryprogram .views-row div
{
  float: left;
  width: 100%;
  margin: 0px 0px 3px 0px;
}




/* navigation */

#navigation
{
  width:100%;
  height: 38px;

  background-color:#B8C0D3;
  background: -moz-linear-gradient(top, #eeeeee, #B8C0D3);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #B8C0D3));
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#B8C0D3');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#B8C0D3');
  line-height:34px;
}

#navigation h2
{
  float: left;
  width: 190px;
  padding-left: 23px;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  line-height: 37px;

}

#navigation a,
#navigation a:link,
#navigation a:visited
{
  float: left;
  height: 36px;
  padding: 0px 17px;

  font-weight: bold;
  color: #1A202E;
  font-size: 12px;
  text-decoration: none;
}

#navigation a:hover,
#navigation a.active
{
  color: #35425F;
  text-decoration: none;
}

#navigation a.active
{
  background: url('../images/ucla/active-arrow.png') center bottom no-repeat transparent;
}

ul#main-menu
{
  float: right;
}

#navigation li
{
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 0px 0px;
}


/* sidebar */

#main .block
{
  padding: 5px 5px 5px 5px;
  float: left;
}

#main .block h2
{
  color: #fff;
}

/* main */

#main
{
  padding: 0px 0px 50px 0px;
}

#main-wrapper
{
  background-color: #35425F;
  color: #fff;
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second
{
  margin-top: 38px;
}

#content .section
{
  padding: 10px 10px 10px 10px;
}


/* Admin section */

.logged-in .draggable
{
  /*color: #555;*/
}


/* Solr results */

.islandora_solr_result
{
  float: left;
  /*width: 100%;*/

  border-bottom: 1px solid #ADBAD5;
  /*margin: 0px 0px 20px 0px;*/
  /*padding: 0px 0px 20px 0px;*/

  width: 700px;
  margin: 0px 0px 0px 0px;
  padding: 20px 10px;
}

.islandora_solr_result.odd
{
  background-color: #3D4E6E;

}

.islandora_solr_result.even
{
  background-color: #475777;
}

.solr-left
{
  float: left;
  width: 520px;
}

.solr-right
{
  float: right;
  width: 180px;
}

.solr-right img
{
  float: right;
  width: 150px;
  height: 150px;
}

.solr-field
{
  float: left;
  width: 100%;
  padding: 2px 0;
}

.solr-field .label
{
  float: left;
  width: 90px;
}

.solr-field .label label
{
  font-weight: bold;
  color: #ADBAD5;
}

.solr-field .value
{
  float: left;
  width: 430px;
}



#content-area h2
{
  color: #fff;
}

.item-list .pager
{
  float: left;
  width: 100%;
}



/* Facet overview */

.islandora_solr_search_facet_wrap ul li
{
  font-size: 100%;
}

.region-sidebar-first .section {
  margin: 0px 0px 0px 0px;
  padding: 0 5px;
}

.region-sidebar-first .block ul,
.region-sidebar-first .item-list ul
{
  float: left;
  width: 150px;
  background-color: #3D4E6E;
  padding: 15px;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
}

.region-sidebar-first h3
{
  font-size: 1.1em;
  font-style: italic;

  float: left;
  width: 100%;
}

a.shown-toggle
{
  float: right;
  width: 100%;
  text-align: right;
  margin: 0px 0px 10px 0px;
}

.region-sidebar-first .islandora_solr_search_facet ul a,
.region-sidebar-first .islandora_solr_search_facet .item-list ul a
{
  text-decoration: none;
}


/* content viewer */

.section-fedora #tabs-tabset #tabset-tab-2 img {
  background: none repeat scroll 0 0 #3D4E6E;
  padding: 40px 120px 40px 115px;
  width: 705px;
}



/* Sidebar second Front */

.front .region-sidebar-second {
  margin-left: 735px;
  width: 225px;
}

.front.sidebar-second #content
{
  margin-right: -735px;
  width: 735px;
}

.front .region-sidebar-second .section
{
  margin: 10px 5px;
}

.front .region-sidebar-second .block h2.title
{
  margin: 10px 0px;
}



/* Islandora Solr Gmap */

#gmap-overlay-wrap
{
  background: #35425F;
  background: rgba(53, 66, 95, 1);
}

#gmap-overlay
{
  width: 675px;
  position: absolute;
  bottom: 20px;
  right: 7px;
  top: 40px;

  overflow-x: hidden;
  overflow-y: scroll;

  cursor: pointer;
}

#gmap-overlay ul
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  list-style: none;
  list-style-image: none;
/*  border-right: solid red 5px;*/
  /* background-color: red; */ /* #475777 */
}

#gmap-overlay ul li
{
  float: left;
  min-width: 630px; /* 675px */ /* 660px */
  min-height: 559px; /* 590px */ /* 589px */
  padding: 15px 15px 15px 15px;
  margin: 0px 0px 0px 0px;

  list-style: none;
  list-style-image: none;
  border-bottom: 1px solid #ADBAD5;
}

#islandora-solr-gmap-items .odd
{
  background-color: #475777;
}

#islandora-solr-gmap-items .even
{
  background-color: #3D4E6E;
}

#islandora-solr-gmap-items img
{
  width: 100%;
/*  height: 100%;*/
}

#islandora-solr-gmap-items .img-wrap
{
  float: left;
  width: 100%;
  min-height: 530px;
  text-align: center;
  vertical-align: middle;
  
  /* spinner credit: http://preloaders.net/en/circular */
/*  background: url('../images/ucla/spinner-blue.png') center 250px no-repeat transparent;*/
  background: url('../images/ucla/spinner-475777.gif') center 250px no-repeat transparent;
  
}

#islandora-solr-gmap-items .solr-field-title
{
  float: left;
  margin: 10px 0px 0px 0px;
}

#gmap-overlay-wrap a.hovering,
#gmap-overlay-wrap a#gmap-overlay-close:hover
{
  text-shadow: 0px 0px 6px #fff; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  color: #C6D1E7; /* #ADBAD5 */
  font-weight: bold;
  text-decoration: none;
}

#gmap-overlay-wrap a#gmap-overlay-close:hover
{
  color: #E3EAF7;
}
#gmap-overlay-wrap a.hovering.hovering-reset
{
  text-shadow: 0px 0px 0px #fff;
  color: #ADBAD5;
  font-weight: normal;
}